<ion-header>
  <ion-toolbar color="primary">
    <ion-title>INICIO DE SESION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
      <ion-img src="assets/icon/IMG_20240720_084746.jpg" class="logo-img"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" clearInput></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="ingresar()" class="ion-margin-top">
          Ingresar
        </ion-button>
      </form>
      <!--  
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="auto">
          <ion-button fill="clear" color="medium" [routerLink]="['/registro']">
            ¿No tienes cuenta? Regístrate
          </ion-button>
        </ion-col>
      </ion-row>
       -->
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title size="small" class="ion-text-center">TACOROCKS</ion-title>
  </ion-toolbar>
</ion-footer>



